body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    scroll-behavior: smooth;
}

/* Head nav */
.Head-top{
    background-color: #000;
    position: fixed;
    width: 100%;
    display: flex;
    height: 55px;
    z-index: 1000; /* Ensures navbar stays above other elements */

}
.Head-top .head-list{
    display: inline-flex;
    font-size: large;
    list-style: none;   
}
.head-list a>i{
    color: yellow;
}
.head-list a{
    text-decoration: none;
    padding:0px 30px;
   color: white;
}
.social-media{
    display: inline-flex;
    padding:0px 30px;
    list-style: none;
}
.social-media a>i{
    color: white;
}
.social-media a{
    padding:0 20px;   
}

/* end */

/* navbar */
nav {
    margin-top: 50px;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #dfdfdf;
    z-index: 1000; /* Ensures navbar stays above other elements */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list div {
    margin: 0 15px;
    padding-top: 20px;
}
.list a{
    color: #000000;
}
.list li a {
    text-decoration: none;
    font-weight:bold;
    padding: 10px 20px;
    font-size: large;
    border-radius: 35px;
    transition: background-color 0.3s ease;
}

.list li a:hover, .active {
    background-color: #c7c0c0;
    color: rgb(0, 0, 0);
}

/* end navbar */


/* Home */
#Home {
    height: 600px;
}
.bg-image{    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(4px);
    /* Full height */
    height: 70vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  .Home-content{
    font-size: x-large;
  }

  .cta-button{
    text-decoration: none;
    padding: 10px 20px;
    background: #aa8f38;
    color: #000000;
    border-radius: 15px;
  
  }
/* About */
#about {
    padding-top: 60px; 
    height: 700px;
}

.About-content {
    display: grid;
    gap: 10px;
    padding: 10px; 
}

.grid-item {
    border: 15px solid rgb(245, 245, 245);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    gap: 30px;
    display: inline-flex;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#landmark p, #landmark h5 {
    text-align: justify;
}

#landmark li {
    list-style-type: none;
    font-size: 20px;
    display: inline-flex;
    padding: 10px;
}

#landmark li a {
    text-decoration: none;
    color: #000000;
}


#styleMenu {
    top: 100px; 
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-list .card-item {
    list-style: none;
}
.card-wrapper>h2{
text-align: center;
font-size: 32px;
font-weight: bold;
}
.card-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item .card-link {
    width: 100%;
    display: block;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgb(106, 106, 106);
}

.card-list .card-item .card-link:hover {
    border-color: #ffffff;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: rgb(255, 255, 255);
    margin: 16px 0 18px;
    background-color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-size: 0.95rem;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.one, 
.card-list .card-link .badge.two, 
.card-list .card-link .badge.three {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.card-list .card-link .card-title {
    font-size: 2.0rem;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.card-titleMenu {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: justify;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: #717070;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}
